# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore all files in the src directory
# Only ignore cache and temporary files in the src directory
src/__pycache__/
src/*.pyc
src/*.pyo
src/*.pyd

# Ignore all files in the tests directory
tests/*